* {
    margin: 0;
    padding: 0;
}

/* body {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(to top right, rgba(224, 73, 13, 0.4), rgba(4, 149, 245, 0.5));
} */

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top right, rgba(224, 73, 13, 0.4), rgba(4, 149, 245, 0.5));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    background-color: #191919;
    text-align: center;
    opacity: 0.9;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 260px;
    border-color: green;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}

.imsg {
    font-size: 10px;
    color: rgba(143, 134, 134, 0.61);
}

.con {
    width: 100%;
    height: 400px;
    margin: auto;
}

A {
    COLOR: #257ec0;
    TEXT-DECORATION: none
}

.pic {
    margin-top: 5px;
    margin-left: 10px;
}

#foot {
    width: 100%;
    height: min-content;
    margin: auto;
    position: absolute;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0); */
    color: black;
    padding-bottom: 0px;
    margin-top: 20px;
}

#foot a {
    color: black;
}

#foot p {
    line-height: 15px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(61, 64, 67);
}

#title_menu {
    height: 25px;
    text-align: right;
    background-color: rgb(223, 224, 225);
    background-color: rgba(0, 0, 0, 0.05);
}

#storeTitle {
    color: rgb(60, 63, 65);
}

#div {
    height: 500px;
    text-align: center;
}

.book {
    display: inline-block;
    width: 300px;
}

#addCartButton {
    background-color: rgba(0, 0, 0, 0);
}