<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
    <meta charset="UTF-8">
    <meta name="description" content="XCloud XCloud.show-简约方便的在线存储网站,支持桌面(浏览器)、移动端(APP)随存随取"/>
    <meta name="keywords" content="XCloud,xcloud,网络存储,云存储,在线存储,网盘,云盘,文件服务,后端开发"/>
    <base href="https://www.xcloud.show/xcloud/">
    <!--<base href="http://localhost:8080/xcloud/">-->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.xcloud.show/static/img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="https://www.xcloud.show/static/css/index.css">
    <link type="text/css" rel="stylesheet" href="https://www.xcloud.show/static/css/login_regist_css.css">
    <script type="text/javascript" src="https://www.xcloud.show/static/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#regist").click(function () {
                var password = $("#password").val().trim();
                if (password == "") {
                    alert("密码不可为空");
                    return false;
                }
                if (/^[a-zA-Z]\w{4,15}$/.test(password) == false) {
                    alert("密码格式有误");
                    return false;
                }
            })
        })
    </script>
</head>
<body>
<div class="head">
    <a href="user/browse/home">
        <div class="logo">
            <img class='pic' src='https://www.xcloud.show/static/img/logo.png' style="height: 40px;">
        </div>
        <div class="logo02">
            <img class='pic' src='https://www.xcloud.show/static//img/logo2.png' style="height: 30px;">
        </div>
    </a>
</div>
<form class="box" action="user/browse/update" method="post">
    <h1>update</h1>
    <input type="hidden" name="id" th:value="${session.currentUser.id}">
    <input type="hidden" name="username" value="random">
    <input type="password" placeholder="password" name="password" id="password" onblur="formValid.checkPassword()"
           onclick="formClick.checkPassword()"/>
    <span class="imsg" id="passwordInfo">请输入密码</span>
    <input type="text" placeholder="nickname" name="nickname" id="nickname" th:value="${session.currentUser.username}"/>
    <span class="imsg" id="nicknameInfo">请输入昵称</span>
    <input type="submit" value="update" id="regist">
</form>
<div class="foot">
    <span style="color: black">
        <p>Copyright &copy;&nbsp;XCloud&nbsp;2021&nbsp;All Rights Reserved·<a href="https://beian.miit.gov.cn/" style="text-decoration: none">冀ICP备20013542号-3</a></p>
    </span>
</div>
<script text="text/javascript">

    var password = document.getElementById('password');
    var passwordInfo = document.getElementById('passwordInfo');

    var formValid = {
        checkPassword: function () {
            if (password.value.length == 0) {
                passwordInfo.innerHTML = "密码不能为空";
                passwordInfo.style.color = "red";
                return false;
            } else {
                if (/^[a-zA-Z]\w{4,15}$/.test(password.value) == false) {
                    passwordInfo.innerHTML = "密码格式有误";
                    passwordInfo.style.color = "red";
                    return false;
                }
                passwordInfo.innerHTML = "✔";
                passwordInfo.style.color = "green";
            }
        }
    };
    var formClick = {
        checkPassword: function () {
            passwordInfo.innerHTML = "请输入密码";
            passwordInfo.style.color = "";
            return false;
        }
    }
</script>
</body>